body{
    background-color: #081b29;
    color: #00abf0;
}
header h1{
    background-color: transparent;
    color:yellowgreen;
    transition: 0.99s;
}
header h1:hover{
    color: aquamarine;
    cursor: pointer;
}
 
 nav{
    display: flex;
    justify-content: space-between;
    color: yellowgreen;
    align-items: center;
    transition: 0.99s;
 }
 nav:hover{
    color: aquamarine;
    cursor: pointer;
 }
 nav a{
    text-decoration: none;
    padding: 15px;
    border-left: 2px;
    font-weight: 600px;
    transition: 0.99s;
    color: yellowgreen;
    
 }
 nav a:hover{
    color:blueviolet;
    cursor: pointer;
 }
 

#info{
    justify-content: space-between;    
    margin-left: 1%;
    
}

#info h1 {
    font-size: 56px;
    font-weight: 700;
    margin-top: 100px;
    
}

#info h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

#info h3 span{
    color: aqua;
}

#info p {
    font-size: 20px;
    
}
#img {
    display: flex;
    justify-content: end;
    margin-top: -250px;
    height: 60vh;    
    border-radius: 50px;
    
}


 .button-box{
    width: 500px;
    height:150px;
    color:aqua;
    font-size:30px;
    cursor: pointer;
    transition: 0.99s;
}
.button-box:hover{
    color: bisque;
    cursor: pointer;
}
.button-box a{
    color: #00abf0;
    transition: 0.99s;
}
.button-box a:hover{
    color: yellowgreen;
    cursor: pointer;
}

